html, body {
  margin: 0;
  padding: 0;
  background-color: white;
}

div.gallery {
  margin: 5px;
  border: 10px solid black;
  float: left;
  width: 330px;
}

a{
  text-decoration-line: none;
}

div.gallery img{
  width: 330px;
  height: 300px;
}

div.desc{
  padding: 15px;
  text-align: center;
  }


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

ul a:hover{
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  background-color: white;
  padding: 14px 16px;
  text-decoration: none;
}

a {
  font-style: normal;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 18px;
}

a.style {
  fill: auto;
}

a:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: black;
}


h1{
  font-style: normal;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 30px;
}
h2{
  fill: inherit;
  font-style: normal;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 25px;
}

p {
  font-style: normal;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 20px;
}

div.digital-work{
  width: 500px;
  height: auto;
  float: left;
  margin: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.index-files a:hover{
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: black;
}

div{
  font-style: normal;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 25px;
  }

div.container {
  text-align: below;
  padding: 10px 20px;
}

div.code-work{
  width: 600px;
  height: 300px;
  float: left;
  margin: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.index-files{
  width: 350px;
  height: 300px;
  float: left;
  margin: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.video-files{
  width: 640px;
  height: 480px;
  float: left;
  margin: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
