html, body {
  margin: 0;
  padding: 0;
  background-color: white;
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

ul a{
  margin: 10px;
  float: left;
  text-decoration: none;
  fill: black;
  font-style: normal;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 20px;
}

ul a:hover{
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: black;
}

h1{
  font-style: normal;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 30px;
}
h2{
  fill: inherit;
  font-style: normal;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 25px;
}

div.digital-work{
  width: 500px;
  height: auto;
  float: left;
  margin: 10px;
  font-family: sans-serif;
  font-size: 20px;
  background-color: white;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.code-work{
  width: 400px;
  height: auto;
  float: left;
  margin: 10px;
  font-family: sans-serif;
  font-size: 20px;
  background-color: white;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.code-work a{
  text-decoration: none;
  text-align: center;
  fill: black;
  font-style: normal;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 20px;
}

div.code-work a:hover{
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: black;
}

div.index-files{
  width: 350px;
  height: 300px;
  float: left;
  margin: 10px;
  background-color: white;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.index-files a{
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 20px;
}

div.index-files a:hover{
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: black;
}

div.video-files{
  width: 640px;
  height: 480px;
  float: left;
  margin: 10px;
  font-family: sans-serif;
  font-size: 25px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
